:root {
  --top-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* -------------HEADER------------- */
.header {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-word {
  color: #000000;
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item {
}

.header-link {
  color: var(--top-text-color);
}

.header-link:focus,
.header-link:hover,
.current {
  color: var(--accent-color);
}

.header-contacts-link {
  color: var(--text-color);
}

.header-contacts-link:focus,
.header-contacts-link:hover {
  color: var(--accent-color);
}

/* -------------HERO------------- */

.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
}

.hero-btn:focus,
.hero-btn:hover {
  background: #188ce8;
}

/* -------------FEATURES------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-heading {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--top-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------------ACTIVITY------------- */

.activity-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-text-color);
}

/* -------------TEAM------------- */
.team {
  background: #f5f4fa;
}

.team-item {
  background: #ffffff;
}

.team-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* -------------FOOTER------------- */

.footer {
  background: #2f303a;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-word {
  color: #ffffff;
}

.footer-list {
}
.list {
}

.footer-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: #ffffff;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:focus,
.footer-contacts:hover,
.footer-address:focus,
.footer-address:hover {
  color: var(--accent-color);
}

/* -------------PORTFOLIO------------- */

/* -------------GALLERY------------- */
.gallery {
}
.gallery-title {
}
.gallery-items {
}

.gallery-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--top-text-color);
  background: #f5f4fa;
}

.gallery-btn:focus,
.gallery-btn:hover {
  color: #ffffff;
  background: #2196f3;
}

.gallery-list {
}

.gallery-heading:hover,
.gallery-text:hover {
  color: var(--accent-color);
}

.gallery-item {
}

.gallery-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--top-text-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
